<table>
<% @comments.each do |x| %>
<tr> 
	 <td> <%= x.user_name %> </td>
	 <td> <%= x.text %> </td> 
	 <td> <%= x.created_at %> </td>
 </tr>
<% end %>
</table>
<%= form_for(:comment , :url => {:controller => 'comments' ,:action => 'create'}) do |f|  %>
<%= f.text_field(:text) %>
<%= submit_tag("Send") %>
<% end %>