<% unless (@likes.size==0)%>
    <p>
      <%= @likes.size.to_s %>
      <%= link_to 'people', [@likable, @like], action: :show%>
      <%= " like this"%>
    </p>
    <%end%>
      <% unless @likes.where(:user_id => @current_user.id).empty? %>
      <% like = @likes.where(:user_id => @current_user.id).first %>
		<b><%= link_to "<button>Unlike</button>".html_safe, [@likable, like], method: :delete %></b>      
	 <% else %>
    <b><%= link_to "<button>Like</button>".html_safe, [@likable, @like], method: :post %></b>
      <% end %> 