<%= error_messages_for(@user) %>

<table summary="form fields" class="table table-bordered">
  <tr>
    <th><%= f.label(:username, "Username") %></th>
    <td><%= f.text_field(:username,:class => "form-control") %></td>
  </tr>
  <tr>
    <th><%= f.label(:first_name, "First Name") %></th>
    <td><%= f.text_field(:first_name,:class => "form-control") %></td>
  </tr>
  <tr>
    <th><%= f.label(:last_name, "Last Name") %></th>
    <td><%= f.text_field(:last_name,:class => "form-control") %></td>
  </tr>
  <tr>
    <th><%= f.label(:email, "Email Address") %></th>
    <td><%= f.text_field(:email,:class => "form-control") %></td>
  </tr>
  <tr>
    <th><%= f.label(:email_confirmation, "Email Confirmation") %></th>
    <td><%= f.text_field(:email_confirmation,:class => "form-control") %></td>
  </tr>
  <% unless is_edit %>
      <tr>
        <th><%= f.label(:password) %></th>
        <td><%= f.password_field(:password,:class => "form-control") %></td>
      </tr>
      <tr>
        <th><%= f.label(:password_confirmation) %></th>
        <td><%= f.password_field(:password_confirmation,:class => "form-control") %></td>
      </tr>
  <% end %>
  <tr>
    <th><%= f.label :birthday, "Birth Date" %></th>
    <td><div  class="birth_date"><%= f.date_select(:birth_date, :order => [:day, :month, :year], :start_year => Date.today.year - 100, :end_year => Date.today.year)%></div></td>
  </tr>
  
</table>