<% @page_title = "Change Password" %>
<%= error_messages_for(@user) %>
<div class="users change password">
  <h2>Change Password</h2>
  <%= form_for(:user, :url => {:action => 'attempt_update_password', :id => @user.id}) do |f| %>
      <table class="table table-bordered">
        <tr>
          <th><%= f.label(:current_password) %></th>
          <td><%= f.password_field(:current_password,:class => "form-control") %></td>
        </tr>
        <tr>
          <th><%= f.label(:password, "New Password") %></th>
          <td><%= f.password_field(:password,:class => "form-control") %></td>
        </tr>
        <tr>
          <th><%= f.label(:password_confirmation, "New Password Confirmation") %></th>
          <td><%= f.password_field(:password_confirmation,:class => "form-control") %></td>
        </tr>
        </table>
      <div class="form-buttons">
            <td><%= submit_tag("Change Password",:class => "btn btn-primary",:style => "margin-left:43%") %></td>
          </div>
  <% end %>
  


</div>
