<% @page_title = "#{@document.name} | #{@page.position}" %>

<%= link_to("<< Back to document", document_pages_path(document_id: @document.id), :class => 'back-link') %>

<div class="documents show">
  <h2><%= @document.name %> | Page: <%= @page.position %></h2>

  <!-- TODO: make the next and previous buttons floating -->
  <!-- TODO: add page selection -->
  <%= image_tag @page.link_to_image %>
  <%= link_to 'Previous', document_page_path(document_id: @document.id, id: @previous_page.id) if @previous_page %>
  <%= link_to 'Next', document_page_path(document_id: @document.id, id: @next_page.id) if @next_page %>
    </div>
