<h2 style="margin-left:40%"> <%="#{@document.name} |  Page #{@page.position}"%></h2>
<hr>
<% @page_title = "#{@document.name} |  Page #{@page.position}" %>
<%= link_to("<< Back to Slides", {:action => 'index', :document_id => @document.id}, :class => 'back-link') %> <br>
  <!-- TODO: make the next and previous buttons floating -->
  <!-- TODO: add page selection -->
<%= image_tag("/documents/document #{@document.id}/imgs/#{@page.position}.jpg",class: "img-thumbnail",style: "margin-left:25%") %>
<div id="prev_and_next">
<%= link_to(image_tag('perivous_page.png',:size => '20x20', :alt => '<') + "Perivous Page", document_page_path(document_id: params[:document_id],
			id: @previous_page.id),:id => 'prev_page')  if @previous_page%>

<%= link_to("Next Page", document_page_path(document_id: params[:document_id],
			id: @next_page.id),:id => 'prev_page') if @next_page %>
			<%=image_tag('next_page.jpg',:size => '20x20', :alt => '>')%>
</div>
<hr>
<div>
  <%= render 'likes/likes' %>
  <%= render 'comments/comments' %>
  <%= render 'comments/form' %>
</div>
