<h2> Page Show </h2>
<% @page_title = "#{@document.name} |  Page #{@page.position}" %>
<%= link_to("<< Back to Slides", {:action => 'index', :document_id => @document.id}, :class => 'back-link') %> <br>
  <!-- TODO: make the next and previous buttons floating -->
  <!-- TODO: add page selection -->
<%= image_tag("/documents/document #{@document.id}/imgs/#{@page.position}.jpg") %>

<%= link_to(image_tag('perivous_page.png',:size => '20x20', :alt => '<') + "Perivous Page", document_page_path(document_id: params[:document_id],
			id: @previous_page.id),:class => 'action show')  if @previous_page%>

<%= link_to(image_tag('next_page.jpg',:size => '20x20', :alt => '>') + "Next Page", document_page_path(document_id: params[:document_id],
			id: @next_page.id),:class => 'action show') if @next_page %>
<div>
  <%= render 'likes/likes' %>
  <%= render 'comments/comments' %>
  <%= render 'comments/form' %>
</div>
