<%= error_messages_for(@document) %>
<table class="table table-bordered">

  <tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name, :class => "form-control" %></td>
  </tr>
  <% unless is_edit %>
  <tr>
    <th><%= f.label :attachment %></th>
    <td><div class="attachment_field"><%= f.file_field :attachment %></div></td>
  </tr>
      <% end %>
  <tr>
    <th><%= f.label :description %></th>
    <td><%= f.text_area :description ,:class=>"form-control", size: '30x2.5'%></td>
  </tr>

</table>