<% @page_title = "Documents" %>

<div class="documents index">
  <h2>Documents</h2>
  <hr>

  <%= link_to(image_tag('plus_sign.png', :size => '11x11', :alt => '+') + " Add New Subject", new_document_path, :class => 'action new') %>

  <%= will_paginate @documents %>

  <div><%= pluralize(@documents.size, 'document') %> found</div>
  <table class="table table-bordered" summary="document list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Owner</th>
      <th>Pages</th>
      <th>Actions</th>
    </tr>
    <% @documents.each do |document| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= link_to(image_tag("#{document.directory}/thumb.png", alt: "thumbnail", size: '200x200'), document_pages_path(document_id: document.id),
                          :class => 'action index') %></td>
          <td><%= link_to(document.name, document_pages_path(document_id: document.id), 
                          :class => 'action index') %></td>
          <td><%= link_to(document.uploader.username, user_path(document.uploader.id),
                          :class => 'action show') %></td>
          <td class="center"><%=document.pages.size%></td>
          <td class="actions">
            <%= link_to("Details".html_safe, document_path(id: document.id), :class => 'btn btn-primary') %>
            <br>
            <%= link_to "Download".html_safe, document.attachment_url, class: 'btn btn-primary' %>
            <br>
            <%= link_to("Edit".html_safe, edit_document_path(id: document.id), :class => 'btn btn-primary') if session[:user_id] == document.uploader_id%>
            <br>
            <%= link_to("Delete".html_safe, document_path(id: document.id), :method => :delete, data: { confirm: "Are you sure you want to delete this document #{document.name}?" }, :class => 'btn btn-danger') if session[:user_id] == document.uploader_id %>
          </td>
        </tr>
    <% end %>
  </table>
</div>

