<!DOCTYPE html>
<html>
<head>
  <title>CSE2017 web | <%= @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- new bootstrap code !-->
   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CSE2017 Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to("Home", root_path, :class => 'back-link') if session[:user_id] %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <%if session[:user_id]%>
      <li><%= link_to(session[:username], user_path(session[:user_id])) %></a></li>
      <li><%= link_to("Logout", :controller => 'access',:action => 'logout') %></a></li>
      <% end %>
    </ul>
  </div>
</nav>
<!-- end new bootstrap code !-->
<div id="main">
  
  <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
  <% end %>
  <div id="content">
    <%= yield %>
  </div>
</div>
</body>
</html>
