<!DOCTYPE html>
<html>
<head>
  <title>CSE2017 web | <%= @page_title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- new bootstrap code !-->
   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to('CSE2017 Project', root_path, :class => 'navbar-brand')%>
    </div>
    <ul class="nav navbar-nav">
    </ul>

    <ul class="nav navbar-nav navbar-right">

      <%if @current_user%>
      <li><%= link_to("Home", root_path, :class => 'back-link')  %></li>
      <li><%= link_to(@current_user.username, user_path(@current_user.id)) %></a></li>
      <li>
<%= link_to("Logout", :controller => 'access',:action => 'logout') %></a></li>
      <% end %>
    </ul>
  </div>
</nav>
<!-- end new bootstrap code !-->
<div id="main">
  
  <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
  <% end %>
  <div id="content">
    <%= yield %>
  </div>
</div>
</body>
</html>
